version: '3.7'

services:

  postgres-sql_analyzer:
    container_name: postgres-sql_analyzer
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: passtochange
    ports:
      - 5432:5432
    networks:
      - sql_analyzer-network
    volumes:
      - sql_analyzer_pg_storage:/var/lib/postgresql/data

  grafana-sql_analyzer:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    networks:
      - sql_analyzer-network
    volumes:
      - sql_analyzer_grafana_storage:/var/lib/grafana
    depends_on:
      - "postgres-sql_analyzer"


  sql_analyzer:
    container_name: sql_analyzer-worker
    restart: always
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - sql_analyzer-network
#    depends_on:
#      - "postgres-sql_analyzer"
    command: python3.8 ./main.py


    

volumes:
  sql_analyzer_data_storage:
  sql_analyzer_grafana_storage:
  sql_analyzer_pg_storage:

networks:
  sql_analyzer-network:
    driver: bridge
